
/* admin/staff/index.css */

body {
    background-color: #E1E1E1;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.staff-list {
    max-width: 900px;
    margin: 40px auto;
    background-color: #E1E1E1;
    padding: 0 20px;
}

.staff-list-title {
    font-size: 24px;
    border-left: 8px solid #000;
    padding-left: 15px;
    margin-bottom: 30px;
    max-width: 900px;
}

.staff-table {
    width: 100%;
    max-width: 900px;
    background: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.staff-table th {
    padding: 20px;
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px solid #E1E1E1;
}

.staff-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
    color: #666666;
}

/* 「詳細」リンク */
.detail-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.detail-link:hover {
    text-decoration: underline;
}
