/* public/css/attendance/index.css */
body {
    font-family: 'Inter', sans-serif;
}

.attendance-list {
    background-color: #E1E1E1;
    /* 背景グレー */
    padding: 40px 20px;
    min-height: 100vh;
}

.attendance-list-title {
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid #000;
    padding-left: 15px;
    margin-bottom: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    max-width: 900px;
    margin: 0 auto 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.month-nav-current {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.month-nav-img-left,
.month-nav-img-right {
    width: 16px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    color: #666666;
}

.month-nav-img-right {
    transform: rotate(180deg);
}

.month-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #666666;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
}

.month-nav-link:hover {
    opacity: 0.7;
}

.attendance-table {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.attendance-table th,
.attendance-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #E1E1E1;
    color: #666666;
    font-weight: bold;
}

.attendance-table th {
    border-bottom: 3px solid #E1E1E1;
}

.detail-btn {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.detail-btn:hover {
    opacity: 0.7;
}

.calendar-icon {
    color: #333;
    /* ここで好きなグレーにできます */
    font-size: 24px;
    vertical-align: middle;
}
